@CHARSET "UTF-8";
.title .tip{
	padding: 5px 14px;
    background: #A9B3BF;
    font-size: 12px;
    margin-right: 12px;
    color: #fff;
}

.title{
	margin-bottom: 10px;
}
.batch-type .intro {
    padding-right: 9px;
    padding-left: 30px;
    color: #A9B3BF;
}

.intro{
	color: #A9B3BF;
	margin-bottom: 30px;
}

.chapter{
	padding-left: 10px;
}
.question-content,.descPanel,.keyPanel, .tab-content .batch-type{
    margin-bottom: 20px;
}
textarea{
    width:100%;/*自动适应父布局宽度*/
    overflow:auto;
    word-break:break-all;
}

.fileIcon{
    display: inline-block;
    margin-left: 30%;
    text-align: center;
    font-size: 15px;
    color: #FFF;
}

#wordIcon{
    margin-left:30px; 
}
.batch-type {
    background: #fff;
/*     padding: 16px 0 13px 0; */
    font-size: 12px;
    position: relative;
}

.tab-content .question-content, #manualInput{
    padding: 20px 40px 15px 40px;
    font-size: 12px;
}

.radioEdit{
     width:95%;/*自动适应父布局宽度*/
     overflow:auto;
     word-break:break-all;
}
.input-group{
	width:100%;
}
.keyFillContent{
	margin-bottom:5px;
}
.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
    width: 40px;
    height:40px;
}
.removeKey{
    /*width:40px;
    height:40px;
    /*background: #A9B3BF;*/
    display: inline-block;
    margin-right: -25px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #000;*/
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    height: 40px;
    width: 100%;
}
 
.tab-content .question-content{
	background-color:#F3F3F5;
}
.tab-content .question-content .keyPanel .addKeyBtn .addKey,
.tab-content .question-content .keyPanel .addKeyFillBtn .addKeyFill {
    margin-top:10px;
    background: #A9B3BF;
    border-radius: 4px;
    color: #fff;
    padding: 10px 0;
    margin-left: 48px;
    width: calc(100% - 48px);
    width: 100%;
    margin-left: 0;
}

.tab-content .question-content .keyJudge input[type=radio]:checked + label {
    background: #A9B3BF;
    border: 1px solid #878F98;
    color: #fff;
}


input[type="checkbox"], input[type="radio"] {
    width: 15px;
    height: 15px;
}

.saveAndReset{
    text-align: center;
}
#saveAndAddBtn{
    margin-left: 50px;
}
#myTab{
	background-color:#F3F3F5;
}
#myTab li {
    padding: 0;
}
#myTab li.active{
    background-color: #FFF;
}
.download, .upload{
    text-decoration: none;
    padding: 0 20px;
    line-height: 36px;
    vertical-align: middle;
    position: relative;
}

.upload-form {
	display:inline-block;
    position: relative;
    margin:0;
}

#excelImport .upload input, #wordImport .upload input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    line-height: 36px;
    height: 36px;
    width: 92px;
    filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    cursor: pointer!important;
    z-index: 2;
}

.upload-form .tip {
    position: absolute;
    color: #999;
    width: 200px;
    left: -40px;
    bottom: -30px;
}

.quesBrief, .quesDesBrief{
	font-size:20px;
}
.quesBrief{
	overflow: hidden;/*超出部分隐藏 */
	white-space: nowrap;/*不换行 */
	text-overflow:ellipsis;/*超出部分省略号显示*/
	word-break: break-all;
}
