@CHARSET "UTF-8";
.title .tip{
	padding: 5px 14px;
    background: #A9B3BF;
    font-size: 12px;
    margin-right: 12px;
    color: #fff;
}

.title{
	margin-bottom: 10px;
}
.batch-type .intro {
    padding-right: 9px;
    padding-left: 30px;
    color: #A9B3BF;
}

.intro{
	color: #A9B3BF;
	margin-bottom: 30px;
}

.chapter{
	padding-left: 10px;
}
.question-content,.descPanel,.keyPanel, .tab-content .batch-type{
    margin-bottom: 20px;
}
textarea{
    width:100%;/*自动适应父布局宽度*/
    overflow:auto;
    word-break:break-all;
}
.radioEdit{
     width:95%;/*自动适应父布局宽度*/
     overflow:auto;
     word-break:break-all;
}
.batch-type {
    background: #fff;
    padding: 16px 0 13px 0;
    font-size: 12px;
    position: relative;
}

.tab-content .question-content, #manualInput{
    padding: 20px 40px 15px 40px;
    font-size: 12px;
}

.removeKey{
    width:40px;
    height:40px;
    /*background: #A9B3BF;*/
    display: inline-block;
    margin-right: -25px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #000;
}


.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    height: auto;
    width: 100%;
}

.tab-content .question-content .keyPanel .addKeyBtn .addKey,
.tab-content .question-content .keyPanel .addKeyFillBtn .addKeyFill {
    margin-top:10px;
    background: #A9B3BF;
    border-radius: 4px;
    color: #fff;
    padding: 10px 0;
    margin-left: 48px;
    width: calc(100% - 48px);
    width: 100%;
    margin-left: 0;
}

.tab-content .question-content .keyJudge input[type=radio]:checked + label {
    background: #A9B3BF;
    border: 1px solid #878F98;
    color: #fff;
}


input[type="checkbox"], input[type="radio"] {
    width: 15px;
    height: 15px;
}

#saveAndAddBtn{
    margin-left: 50px;
}

